/* Ejemplos de selectores relacionales*/

body{
    color: blue;
}

p{
    font-weight: bold;
}

/*Decendiente */
/*#contenedor p{
    color: red;
}*/


/* Hijo directo*/
/* #contenedor > p{
    color: red;
} */

/*p + div{
    color: red;
}*/

/*div ~ p{
    color: red;
}*/